ir-h5bp(url=none, width=none, height=width)
  unless (url == none) { background url }
  border 0
  color transparent
  font 0/0 a
  unless (height == none) { height height }
  text-shadow none
  unless (width == none) { width width }