ir-phark(url=none, width=none, height=width)
  unless (url == none) { background-image url }
  unless (height == none) { height height }
  text-indent -9999px
  unless (width == none) { width width }